.footer{
    min-height: 400px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;

    @media(max-width: 800px){
        .img__container{
            flex-grow: 1;
            height: 400px;
        }

        .info__container{
            flex-grow: 1;
            height: 400px;
            min-width: 100%;
        }
    }

    @media(max-width: 460px){
        .info__container{
            padding: 5px;
            align-items: center;
            

            textarea{
                height: 100px;
            }
        }
    }


}

.img__container{
    min-width: 300px;
    width: 30%;
    height: 400px;
    background: url('../public/static/images/dark2.jpg') no-repeat center center/cover;
    filter: grayscale(100%);
    position: relative;
    flex: .35;

    &:after{
        content: 'The Vault';
        color: rgb(80, 77, 77);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Permanent Marker', cursive;
        font-size: 24px;
        white-space: nowrap;
    }

}

.info__container{
    flex: .65;
    color: rgb(80, 77, 77);
    padding: 40px;
    display: flex;
    justify-content: space-between;
    min-width: 500px;

    ul{
        display: flex;
        flex-direction: column;
    }

    i{
        color: rgb(80, 77, 77);
        font-size: 30px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 200ms ease-out;

        &:hover{
            color: white;
            background-color: rgba(80, 77, 77, .45);
        }
    };
}

.contact_me{
    flex-basis: 400px;
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;

    h5{
        font-size: 16px;
        color:rgba(233, 231, 231, 0.8);
    }

    small{
        color:rgba(233, 231, 231, 0.8);
    }

    label{
        margin-top: 20px;
        margin-bottom: 2px;

    }

    input{
        padding: 10px;
        outline: none;
        background-color: rgba(233, 231, 231, 0.8);
        border: none;
        color: white;
    }

    textarea{
        outline: none;
        padding: 10px;
        min-height: 100px;
        font-family: 'Open Sans', sans-serif;
        resize: none;
        border: none;
        background-color: rgba(214, 214, 214, 0.8);
        color: white;

    }
    
    button{
        margin-top: 20px;
        padding: 12px;
        font-weight: 500;
        color: white;
        background-color: rgba(80, 77, 77, .8);
        letter-spacing: 2px;

    }
}