.feature__name{
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
    text-decoration: underline #5fbaf7;
}

.single__product{
    width: calc(min(100%, 1200px));
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    margin: auto;
    margin-bottom: 80px;

}



.product__right{
    padding: 20px 20px 0 20px;
    min-width: 400px;
    box-shadow: 0 0 2px 2px #EEEEEE;
    min-height: 500px;
    flex-basis: 500px;
    text-align: left;
    display: flex;
    flex-direction: column;

     *{
        margin-bottom: 30px;    
    }

}

.product__left{
    min-width: 400px;
    flex-basis: 500px;
    display: flex;

}

.feature__image{
    height: 500px;
    width: 400px;
    object-fit: contain;
    animation: OpacityIn 200ms ease-in forwards;
    
}

.img__container{
    height: 500px;
    width: 102px;
    display: flex;
    flex-direction: column;
    
}

.sec__img{
    height: 98px;
    width: 98px;
    cursor: pointer;
    object-fit: cover;
    margin-left: 2px;
    margin-bottom: 2px;
}



.name{
    font-weight: 700;
    font-size: 16px;
}

.brand{
    font-style: italic;
    font-weight: 400;

    font-size: 26px;
}
.description{
    font-weight: 300;
    line-height: 1.8;
}

.price{
    font-weight: 700;
    font-size: 22px;
    position: relative;
    cursor: pointer;

    &:before{
        content : " ",

    }
    
}

.add__cart, 
.return{
    width: 100%;
    padding: 10px 0;
    font-weight: 700;
    font-style: italic;
    color: white;

    &:hover{
        filter: brightness(90%);
    }
}

.add__cart{
    background-color: #ffd369;
    margin-bottom: 8px;
    margin-top: auto;
}

.return{
    background-color:  #EEEEEE;
    color: black;

}


@keyframes OpacityIn {
    from {opacity: 0}
    to {opacity: 1}
}




@media( max-width: 560px){

    .product__left{
        flex-direction: column;
        flex-basis: none;
        align-items: center;
        
    }

    .img__container{
        flex-direction: row;
        width: 400px;
        min-height: 102px;
        max-height: 204px;
        margin-top: 2px;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

}





@media(max-width: 420px){

    .product__left{
        flex-basis: 100%;
        width: 98%;
        min-width: 100%;
    }

    .product__right{
        width: 95%;
        min-width: 0px;
        margin-bottom: 60px;
    }

    .img__container{
        width: 320px;
    }

     .feature__image{
        width: 320px;
        height: 400px; 
        
     }
}